include *.txt
include *.md
include *.pkl
recursive-include ./bike_sharing_model *

include bike_sharing_model/datasets/bike-sharing-dataset.csv
include bike_sharing_model/datasets/test.csv
include bike_sharing_model/trained_models/*.pkl
include bike_sharing_model/VERSION
include bike_sharing_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]